:root {
  height: 100%;
  --white: #c8c8c8;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--white);
}

body {
  background: #1f305e;
  color: var(--white);
  text-align: center;
  font-family: 'Helvetica';
}

main {
  margin: 0 auto;
  margin-top: 30vh;
  height: 100%;
  font-size: 4rem;
}

p {
  margin: 4rem;
}

button {
  background: #452c63;
  box-shadow: var(--box-shadow);
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.3rem 4rem;
}

button:hover {
  color: #eee;
  background: #4e3072;
}
