@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/_variables';

main {
  @extend .container, .my-4;
}

input {
  @extend .form-control;
}

$light: #ccc;
$text-color: $light;

$body-bg: #433;
$body-color: $text-color;

button {
  @extend .btn, .btn-primary, .text-light;
}

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': #157,
    'light': $light,
  )
);

#timer-input {
  @extend .input-group;
  input {
    @extend .form-control, .bg-light;
  }
  button {
    @extend .input-group-text, .btn-primary;
  }
}

#timer-container {
  @extend .d-flex, .flex-row, .flex-wrap;
  > div {
    @extend .m-4;
  }
  button {
    width: 6rem;
    & + button {
      margin-left: 1rem;
    }
  }
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
