* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--white);
}

:root {
  --white: #c8c8c8;
  --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
  background: #1f305e;
  color: var(--white);
  text-align: center;
  font-family: 'Helvetica';
}

:root,
body {
  height: 100%;
  display: grid;
  align-items: center;
}

main {
  font-size: 4rem;
  margin: 2rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

button {
  background: #452c63;
  box-shadow: var(--box-shadow);
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 1.3rem 4rem;
  margin: 1rem;
}

button:hover {
  color: #eee;
  background: #4e3072;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 992px) {
  button {
    flex-basis: 100%;
  }
}
